fastapi
uvicorn[standard]
pydantic
python-dotenv

python-multipart

openai
langchain
langchain-openai
langchain-community

deep-translator

psycopg2-binary

google-cloud-texttospeech
